html, body {
	font-family: Avenir Next, Futura, Lato, Arial, sans-serif;
}

div#page {
	max-width: 720px;
	padding: 40px;
	margin: auto;
}

div.info {
	float: right;
	text-align: right;
	max-width: 300px;
	margin-bottom: 20px;
	margin-left: 20px;
}

h1 {
	display: inline-block;
}

h2.section-header {
	background-color: #a9d267;
	border-radius: 4px;
	padding: 6px 8px 4px;
	clear: both;
}

.printer-friendly h2.section-header {
	background-color: #eeeeee;
}

h3 {
	color: #3709a7;
	display: inline-block;
	margin: 0.5em 0;
}

.printer-friendly h3 {
	color: black;
}

div.rightinfo {
	color: #3709a7;
	margin-left: 20px;
	float: right;
	text-align: right;
}

.printer-friendly div.rightinfo {
	color: black;
}

h4, h5 {
	margin: 0;
}

p {
	clear: both;
	margin-top: 0;
}

div.entry > ul {
	margin-top: 0;
}

a {
	text-decoration: none;
	color: #00aeb1	;
}

a:hover {
	text-decoration: none;
	color: turquoise;
}
